<span class="glyphicon glyphicon-user"></span>
<%= @user.name %>, <%= @user.email %>

<!-- <div class="video-container">
  <iframe width="300" height="168" src="http://www.youtube.com/embed/MY__5O1i2a0" frameborder="0" allowfullscreen></iframe>
</div> -->
