<h1>Your name: <%= current_user.name %></h1>
<div class="userphoto"><h1></h1></div>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.cookingposts.count, "cookingpost") %></span>